      ul {
        margin:0 5%;
      }
      ol {
        margin:0 5%;
      }
      body {
        margin: 0 auto;
        max-width: auto;
        padding-top: 0px;
        padding-bottom: 5%;
      }
      a.anchor {
        color:black;
      }
      a.anchor:hover {
        color:black;
        text-decoration:none;

      }

     /* Custom container */
      .container {
        margin: 0 auto;
        max-width: auto;
      }
      .container > hr {
        margin: 0 0;
      }

      .jumbotron {
        margin: 0 auto;
        max-width: auto;
        text-align: center;
      }
      .jumbotron h1 {
        margin: 0 auto;
        font-size: 40px;
        line-height: 100%;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 20px;
        padding: 14px 24px;
      }

      .navbar .navbar-inner {
        padding: 0;
        max-width: auto;
        margin: 0 auto;
      }
      .navbar .nav {
        max-width: auto;
        margin: 0 auto;
        display: table;
        float:none;
        table-layout:auto;
      }
      .navbar .nav li {
        margin: 0 auto;
        display: table;
        max-width:auto;
        float:left;
        text-align:center;
      }

      ul.dropdown-menu {
        background-color:black;
        border-radius: 0 0 0 0;
        height:auto;
        overflow:hidden;
      }
      ul.dropdown-menu>li>a {
        color:grey;
      }
      ul.dropdown-menu>li:hover>a:hover {
        color:white;
        background:none;
      }
